<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_recetas"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_recetas_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Codigo"
            android:exported="false" />
        <activity
            android:name=".RecuperarContra2"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".RegistroAlumno"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".RecuperarContra"
            android:exported="false" />
        <activity
            android:name=".DetalleRecetaActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".CargarRecetaActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".BusquedaActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".PerfilActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".CursosActivity"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".DetalleCursosInscripcionActivity"
            android:theme="@style/Theme.MiApp.Dark" />
        <activity
            android:name=".BusquedaCursosActivity"
            android:theme="@style/Theme.MiApp.Dark" />
        <activity
            android:name=".DetalleMisCursosActivity"
            android:theme="@style/Theme.MiApp.Dark" />

        <activity
            android:name=".DetalleSedeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"/>
    </application>

</manifest>